### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Игнорировать
/LICENSE
/untitled.iml
/src/Lesson_4/
/src/Lesson_5/
/src/Lesson_6/
/src/Lesson_7/
/src/Lesson_8/
/src/Lesson_9_10/
/src/Lesson_11/
/src/Lesson_12/
/.idea/
/.gitignore
/src/Lesson_13/
/src/Lesson_14/
/src/Lesson_15/
/src/Lesson_16/
